.navbar {
  width: 100%;
  background-color: #ffe600; 
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1000;
}


.img {
  width: 140px;
  height: 60px;
  margin-top: 10px;
}

.form {
  background-color: #ffe600;
  width: 120px;
  height: 40px;
}
.location {
  width: 100px;
  height: 35px;
  background-color: #ffe600;
  outline: none;
  margin-left: 40px;
  
 

}

.imglocation {
  width: 22px;
  height: 23px;
  position: fixed;
  top: 20;
  left: 110px;
  z-index: 9999; 
  position: absolute;
}

.h1 {
  font-size: 12px;
  color: #757272;
  font-weight: 100;
  margin-right: 30px;
 
}

.h3 {
  background-color: transparent;
  font-size: 14px;
  color: black;
  width: 170px;
  padding-bottom: 4px;

  
}
.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0;
}
  
.logoContainer {
  width: 140px;
  height: 80px;
  margin-left: 80px;
}

.searchContainer {
  flex: 1;
  max-width: 600px;
  padding: 0;
  display: flex;
}
  
.searchContainer input {
  flex: 1;
  border: none;
  outline: none;
  background-color: white;
  padding: 10px;
}
  
.searchContainer button {
  padding: 8px 16px;
  border: none;
  background-color: white;
  color: #333;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}


.userSection p{
  margin-top: 0px;
  margin-bottom: 0;
}

.publicity {
  margin-top: 60px;
  width: 320px;
  height: 40px;
  margin-right: 30px;
  margin-bottom: 5px;
}
  
.bottomRow {
  display: flex;
  justify-content: center;
  padding-bottom: 2px;
  gap: 20px;
  height: 45px;
}
  
.bottomRow a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-top: 24px;
}

.loginsection {
  color: black;
  font-size: 14px;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  gap:20px;
}

.cart {
  width: 22px ;
  height: 22px ;
  margin-left: 20px;
  background-color: #ffe600 ;
}

.countproduct {
  position: absolute;
  background-color: black;
  color: aliceblue;
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 42px;
 

}