.navbar {
  width: 100%;
  background-color: #ffe600; 
  padding: 2px 4px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.img {
  width: 140px;
  height: 60px;
  margin-top: 10px;
}
  
.h1 {
  font-size: 12px;
  color: #a79b9b;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
}

.button {
  background-color: transparent;
  font-size: 12px;
  color: black;
  width: 170px;
  padding: 0;
  padding-top: 2px;
}
.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
padding: 0;
}
  
.logoContainer {
  width: 140px;
  height: 80px;
  margin-left: 80px;
}
.logoContainer p  {
    color: #000;
}
  
.searchContainer {
  flex: 1;
  max-width: 600px;
  padding: 0;
  display: flex;
}
  
.searchContainer input {
  flex: 1;
  border: none;
  outline: none;
  background-color: white;
  padding: 10px;
}
  
.searchContainer button {
  padding: 8px 16px;
  border: none;
  background-color: white;
  color: #333;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.userSection {
  display: flex;
  gap: 8px;
  margin-right: 10px;
} 

.userSection a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  margin-top: 24px;
}

.publicity {
  margin-top: 5px;
  width: 320px;
  height: 40px;
  margin-right: 10px;
}
  
.bottomRow {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  gap: 14px;
  height: 45px;
}
  
.bottomRow a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  margin-top: 24px;
}
  